utils/words/out
utils/words/he_IL.dic
utils/words/hewiktionary-latest-all-titles.txt
utils/words/wolig.txt
utils/words/woo.txt
utils/words/words_*.txt
utils/words/license_*.txt
utils/words/hebrew_synonyms.xml
tmp
notes.txt
*.pyc