
body {
    background-color: #f7f7f7;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.spacer {
    flex: 1;
}

.footer {
    height: 30px;
    background-color: #c7c7c7;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 20px;
}

.center {
    text-align: center;
}

ol#words {
    /*display: none;*/
    /*column-count: 5;*/
    /*columns: 5;*/
    /*column-width: 13em;*/
    /*display: grid;*/
    /*grid-template-columns: repeat(5, 1fr);*/

    /*padding: 15px;*/
    
    padding: 0px;
    text-align: center;
    list-style-position: inside;
}

ol#words li {
    float: right;
    width: 100%;
    max-width: 250px;
}

ol#words hr {
    /*float: right;*/
    /*clear: both;*/
    width: 100%;
    margin: 30px auto;
    position: relative;
    top: 20px;
}

#word_wrapper {
    display: none;
    text-align: center;
    margin: 30px auto;
    padding: 10px;
    width: 90%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

#word_form, #word_form .row {
    align-items: center;
    justify-content: center;
}

.alert {
    max-width: 500px;
    margin: 50px auto;
    /*text-align: center;*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#loader {
    margin: 30px auto;
    display: none;
}

#more_button {
    margin: 20px auto;
}